@keyframes text-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


main {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: black;
}

.slider {
    width: 100%;
    height: 70%;
    margin: 0 auto;
    border: 2px solid black;
    overflow: hidden;
}

.slider-wrapper {
    width: 400%;
    height: 100%;
    display: flex;
}

img {
    width: 25%;  
    height: 100%;  
}

.radiobtn {
    display: none;
}

#r1:checked ~ .slider .slider-wrapper {
    transform: translateX(0);
    transition: transform 0.5s;
}

#r2:checked ~ .slider .slider-wrapper {
    transform: translateX(-25%);
    transition: transform 0.5s;
}

#r3:checked ~ .slider .slider-wrapper {
    transform: translateX(-50%);
    transition: transform 0.5s;
}

#r4:checked ~ .slider .slider-wrapper {
    transform: translateX(-75%);
    transition: transform 0.5s;
}

#r1:checked ~ .other-items .slide-descriptions {
    transform: translateX(0);
    transition: transform 0.5s;
}

#r2:checked ~ .other-items .slide-descriptions {
    transform: translateX(-25%);
    transition: transform 0.5s;
}

#r3:checked ~ .other-items .slide-descriptions {
    transform: translateX(-50%);
    transition: transform 0.5s;
}

#r4:checked ~ .other-items .slide-descriptions {
    transform: translateX(-75%);
    transition: transform 0.5s;
}

.other-items {
    display: flex;
    flex-direction: column-reverse;
    height: 20%;
}

.slide-descriptions {
    display: flex;
    flex-direction: row;
    width: 500%;
    overflow: hidden;
}

.slide-description {
    width: 100%;
    align-self: flex-start;
    color: white;
}

.slider-bullets {
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 40%;
    height: 50%;
    padding: 0;
    list-style-type: none;
}

.slider-bullets li {
    list-style-type: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.slider-bullets li:hover .bullet {
    border: 2px solid white;
    background-color: white;
}

.bullet {
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid white;
    background-color: aqua;
    cursor: pointer;
}

