@keyframes text-animation {
    0% {
        color: orange;
    }
    100% {
        color: blue;
    }
}

html {
    scroll-behavior: smooth;
}


main {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: black;

}

.slider {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    border: 2px solid black;
    overflow: hidden;
}

.slider-wrapper {
    width: 400%;
    height: 100%;
    display: flex;
}

img {
    width: 25%;
    height: 100%;  
}

.radiobtn {
    display: none;
}

#r1:checked ~ .slider .slider-wrapper {
    transform: translateX(0);
    transition: transform 0.5s;
}

#r2:checked ~ .slider .slider-wrapper {
    transform: translateX(-25%);
    transition: transform 0.5s;
}

#r3:checked ~ .slider .slider-wrapper {
    transform: translateX(-50%);
    transition: transform 0.5s;
}

#r4:checked ~ .slider .slider-wrapper {
    transform: translateX(-75%);
    transition: transform 0.5s;
}

#r1:checked ~ .other-items .slide-descriptions .slide-description:nth-child(1) {
    display: block;
}

#r2:checked ~ .other-items .slide-descriptions .slide-description:nth-child(2) {
    display: block;
}

#r3:checked ~ .other-items .slide-descriptions .slide-description:nth-child(3) {
    display: block;
}

#r4:checked ~ .other-items .slide-descriptions .slide-description:nth-child(4) {
    display: block;
}

.other-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%
}

.slide-descriptions {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.slide-description {
    display: none;
    width: 25%;
    color: white;
}

.slider-bullets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 40%;
    height: 30%;
    padding: 0;
    list-style-type: none;
}

.slider-bullets li {
    list-style-type: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.slider-bullets li:hover .bullet {
    border: 2px solid white;
    background-color: white;
}

.bullet {
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid white;
    background-color: aqua;
    cursor: pointer;
}

