@keyframes wrapper-animation {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

html {
    scroll-behavior: smooth;
}


main {
    width: 80vw;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: black;

}

.slider {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    border: 2px solid black;
    overflow: hidden;
}

.slider-wrapper {
    width: 400%;
    display: flex;
}


img {
    width: 100%;
    border: 3px solid red;
    margin: 0 10px;
}

#r1:checked ~ .slider .slider-wrapper {
    transform: translateX(0);
    transition: transform 1s;
}

#r2:checked ~ .slider .slider-wrapper {
    transform: translateX(-25%);
    transition: transform 1s;
}

#r3:checked ~ .slider .slider-wrapper {
    transform: translateX(-50%);
    transition: transform 1s;
}

#r4:checked ~ .slider .slider-wrapper {
    transform: translateX(-75%);
    transition: transform 1s;
}

.label {
    color: white;
}