@keyframes text-animation {
    0% {
        color: orange;
    }
    100% {
        color: blue;
    }
}

html {
    scroll-behavior: smooth;
}


main {
    width: 80vw;
    
    margin: 0 auto;
    padding: 20px 30px;
    background-color: black;

}

.slider {
    width: 100%;
    margin: 0 auto;
    border: 2px solid black;
    overflow: hidden;
}

.slider-wrapper {
    width: 400%;
    display: flex;
}

img {
    width: 100%;    
}

.radiobtn {
    display: none;
}

#r1:checked ~ .slider .slider-wrapper {
    transform: translateX(0);
    transition: transform 0.5s;
}

#r2:checked ~ .slider .slider-wrapper {
    transform: translateX(-25%);
    transition: transform 0.5s;
}

#r3:checked ~ .slider .slider-wrapper {
    transform: translateX(-50%);
    transition: transform 0.5s;
}

#r4:checked ~ .slider .slider-wrapper {
    transform: translateX(-75%);
    transition: transform 0.5s;
}

#r1:checked ~ .other-items .slide-description::before {
    content: "this is the first slide";
    animation: text-animation 5s;
}

#r2:checked ~ .other-items .slide-description::before {
    content: "this is the second slide";
    animation: text-animation 5s;
}

#r3:checked ~ .other-items .slide-description::before {
    content: "this is the third slide";
    animation: text-animation 5s;
}

#r4:checked ~ .other-items .slide-description::before {
    content: "this is the fourth slide";
    animation: text-animation 5s;
}

.other-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slide-description::before {
    content: "this is the first slide";
    opacity: 1;
    color: white;
}

.slider-bullets {
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 20%;
    padding: 0;
    list-style-type: none;
}

.slider-bullets li {
    list-style-type: none;
    width: 15%;
}

.slider-bullets li:hover .bullet {
    border: 2px solid white;
    background-color: white;
}

.bullet {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid white;
    background-color: aqua;
}

